SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
DEVELOPER_API_KEY=
FAL_KEY=
POSTHOG_API_KEY=
POSTHOG_HOST=
API_MODE=
BRICKOWL_API_KEY=
FAL_ENDPOINT_ID=
RESEND_API_KEY=
SITE_URL=
STRIPE_SECRET_KEY=
STRIPE_SECRET_KEY_LIVE=
STRIPE_WEBHOOK_SECRET=
STRIPE_WEBHOOK_SECRET_LIVE=
RUNPOD_API_KEY=
RUNPOD_ENDPOINT_ID=
ANONYMOUS_CALL_LIMIT=100000
ANONYMOUS_WINDOW_CALL_LIMIT=100000
ANONYMOUS_WINDOW_SECONDS=60